{% extends "user/user_home.html" %} 

{% block title %}Profile {% endblock title %} 

{% block body %}

<div
  class="mt-4 p-2 p-md-3 p-lg-4 shadow-sm rounded-2 border mx-2 mx-md-auto mx-lg-auto"
  style="max-width: 768px"
>
  <p class="fs-1 fw-semibold mb-0 text-primary">User Profile</p>
  <hr class="mt-0" />
  <div>
    <div class="border rounded-3 p-2">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td>:</td>
            <td class='fw-semibold'>{{name | capfirst}}</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>:</td>
            <td class='fw-semibold'>{{email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock body %}
