{% extends "base.html" %} 

{% block title %} Sign In {% endblock title %} 


{% block sign %}


<div class="mx-2 p-3 mt-4 mx-md-auto shadow border rounded-4 " style="max-width: 768px;">
    <h1 class="mb-4 text-center">Sign In</h1>
    <form method="POST">
      {% csrf_token %}
      <!--email input-->
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          aria-describedby="emailHelp"
        />
      </div>

      <!--password input-->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
        />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary w-75 my-3">Sign In</button>
      </div>
    </form>
    <div class="text-center mt-3">
      <span>Don't have an account?</span>
      <a class="text-info" href="/sign-up"> Sign Up</a>
    </div>
    <div class="text-center mt-2">
      <span>Want to rent your home?</span>
      <a class="text-danger" href="/renter-sign-up">click here</a>
    </div>
    <div class="text-center mt-4">
      <span class="fw-semibold">by Rahulkumar Gupta</span>
    </div>
</div>


{% endblock sign %}
