{% extends "base.html" %} 

{% block title %} Sign Up {% endblock title %} 

{% block sign %}

<div style="height:90vh">
  <div class="row align-items-center h-100 p-2 p-md-0">

<div class="col mx-2 p-3 mt-4 mx-md-auto shadow border rounded-4 " style="max-width: 768px;">
    <h1 class="text-center">Sign Up</h1>
    <form method="POST">
      {% csrf_token %}
      <!--name input-->
      <div class="mb-3">
        <label for="name" class="form-label fw-semibold">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
      </div>

      <!--email input-->
      <div class="mb-3">
        <label for="email" class="form-label fw-semibold">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
        />
      </div>

      <!--password input-->
      <div class="mb-3">
        <label for="password" class="form-label fw-semibold">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
        />
      </div>

      <!--confirm password input-->
      <div class="mb-3">
        <label for="cpassword" class="form-label fw-semibold">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          name="cpassword"
          id="cpassword"
        />
      </div>

      <!--submit button-->
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary w-75">Sign Up</button>
      </div>
    </form>

    <div class="text-center">
      <span>Already have an account?</span>
      <a class="text-primary fw-semibold" href="/sign-in"> Sign In</a>
    </div>
</div>


</div>
</div>

{% endblock sign %}
