<div class="m-2 m-md-4 p-2 p-md-4 shadow-sm rounded-4">
    <h1>Home details</h1>
    <hr class="mt-0" />
    <div class="p-0">
        <div class="row">
            {% for home in homedetails %}
            <div class="col-12 col-md-6">
                <!-- <div class="col-6 ps-0 pe-2">
                  <img src="{{ home.image.url }}" class="img-fluid rounded-2 h-auto" alt="simlw">
                </div>
                <div class="col-6 p-2 h-100">
                    <div><i class="bi bi-house-door"></i> {{home.add}} {{home.add1}}</div>
                    <div><i class="bi bi-geo-alt"></i> {{home.city}},{{home.state}}</div>
                    <div><span class="fw-bold">Pincode: </span>{{home.pincode}}</div>
                    <div><span class="fw-bold">Condition: </span><span class="text-success">{{home.condition}}</span></div>
                    <div><span class="fw-bold">Per night: </span><i class="bi bi-currency-rupee"></i><span class="text-danger">{{home.price}}</span></div>
                    <div><span class="fw-bold">Status: </span><span class="text-success">{{home.status}}</span></div>
                </div> -->
                <div class="card my-2 my-md-1 mx-0 mx-md-2">
                  <img src="{{ home.image.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text"><i class="bi bi-house-door"></i> {{home.add}}, {{home.add1}}, {{home.pincode}}</p>
                    <p class="card-text"><i class="bi bi-geo-alt"></i>{{home.city}},{{home.state}}</p>
                    <p class="card-text"><span class="fw-bold">Condition: </span><span class="text-success">{{home.condition}}</span></p>
                    <p class="card-text"><span class="fw-bold">Per night: </span><i class="bi bi-currency-rupee"></i><span class="text-success fw-bold">{{home.price}}</span></p>
                    <div class="d-flex flex-row justify-content-between">
                      <p class="card-text"><span class="fw-bold">Status: </span><span class="text-info fw-semibold">{{home.status}}</span></p>
                      <a href="edit-home/{{home.id}}" class="fw-bold fs-4"><i class="bi bi-pencil-square"></i></a>
                    </div>
                  </div>
                  
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</div>