{% extends "base.html" %} 

{% block title %} Home details {% endblock title %} 

{% block body %}

<!--load custom filters-->
{% load math_filters %}

<div
  class="mt-4 p-2 p-md-3 p-lg-4 shadow-sm rounded-2 border mx-2 mx-md-auto mx-lg-auto"
  style="max-width: 768px">
  <p class="fs-1 fw-semibold mb-0">Home details</p>
  <hr class="mt-0" />
  <div>
    <img src="{{ home.image.url }}" class="img-thumbnail p-0" alt="..." />
  </div>
  <div class="p-2">
    <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">About</th>
            <td>:</td>
            <td>{{home.about}}</td>
          </tr>
          <tr>
            <th scope="row">Address</th>
            <td>:</td>
            <td>{{home.add}}, {{home.add1}},
                {{home.pincode}}</td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td>:</td>
            <td>{{home.city}}, {{home.state}}</td>
          </tr>
          <tr>
            <th scope="row">Condition</th>
            <td>:</td>
            <td>{{home.condition}}</td>
          </tr>
          <tr>
            <th scope="row">No of People can stay</th>
            <td>:</td>
            <td>{{home.people}}</td>
          </tr>
          <tr>
            <th scope="row">Owner</th>
            <td>:</td>
            <td>{{name}}</td>
          </tr>
          <tr>
            <th scope="row">No of days</th>
            <td>:</td>
            <td>{{days}}</td>
          </tr>
          <tr>
            <th scope="row">Price (1 day)</th>
            <td>:</td>
            <td>
              <i class="bi bi-currency-rupee"></i
              ><span class="text-danger fw-bold">{{ home.price }}</span>
            </td>
          </tr>
          <tr>
            <th scope="row">Total Price ( {{days}} days)</th>
            <td>:</td>
            <td><i class="bi bi-currency-rupee"></i><span class="text-danger fw-bold">{{ home.price|multi:days }}</span></td>
          </tr>
        </tbody>
    </table>
    </div>
  <a href="/rent-summary/{{home.id}}&{{days}}" class="btn btn-success d-block w-50 mx-auto my-4 fw-semibold">Rent Now</a>
</div>

{% endblock body %}
