{% extends "base.html" %} 

{% block title %} Payment {% endblock title %} 


{% block sign %}

<div
  class="my-4 p-2 p-md-3 p-lg-4 shadow-sm rounded-2 border mx-2 mx-md-auto mx-lg-auto"
  style="max-width: 768px"
>
  <p class="fs-1 fw-semibold mb-0 text-center text-primary">Payment</p>
  <hr class="mt-0" />
  <div>
      <table class="table table-borderless fs-2">
        <tbody>
          <tr>
            <th scope="row">Total price:</th>
            <td>:</td>
            <td class="text-center fw-semibold"><i class="bi bi-currency-rupee"></i> {{total_price}}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <button class="btn btn-success w-75" >Pay Now</button>
      </div>
</div>
</div>
{% endblock sign %}